<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p> 
    <p>Server is tested and working perfectly.</p>
    <h5>Navigating through some of the company's data</h5>
    <a href="category">Category</a>
    <a href='customer'>Customer</a>
    <a href='order'>Order</a>
    <a href='productCategory'>Product Category</a>
    <a href='productOption'>Product Option</a>
    <a href='product'>Product</a>
  </body>
</html>
