<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
<<<<<<< HEAD
    <p>Congratulations! My server is tested and working fine.</p>
=======
    <p>Sydney's Server tested and working perfectly</p>
>>>>>>> 322f7716fd7586545416c1b0ae3dc27b790ecabd
  </body>
</html>
